body {
    font-family: 'Merriweather', sans-serif;
    color: white;
    background-color: #2b2626;
}

a {
    text-decoration: none;
    color: white;
}

.top_container {
    margin-top: 2%;
    padding: 5%;
}

.link {
    width: 70%;
    float: right;
    text-align: right;
    margin-top: 0%;
    padding: 0%;

}

.about {
    display: inline-flex;
    flex-direction: column;
    width: 30%;
    text-align: center;
    font-family: "Montserrat-Light", sans-serif;
    padding: 0%;
}

.nav {
    font-size: 1.2rem;
    margin: 2%;
    padding: 0%;
    display: inline;
    color: #f94343;
    font-family: "Montserrat-Light", sans-serif;
    text-decoration: none;
    opacity: 70%;
}

.nav:hover {
    opacity: 100%;
}

.name {
    font-size: 2rem;
    font-family: "Ubuntu";
    padding: 0%;
    margin: 0%;
}

.box_ic {
    color: #f94343;
    font-size: 60%;

}

.about_me {
    display: flex;
    justify-items: center;
    margin-top: 140px;
}

.about_title {
    width: 20%;
    color: #fb3838;
    border-right-style: solid;
    border-right-color: #f45555;
    border-right-width: 10%;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
    text-align: right;
    padding-right: 20px;
}

.about_title p {
    margin: 0;
}

.about_info {
    width: 70%;

    border-left: #f94343;
    padding-left: 5%
}

.about_tag {
    color: #EEB76B;
    font-size: 2.25rem;
    /*   margin-top:1% */
    margin-bottom: 1%;
    margin-top: 0;
}

.about_idea {
    font-size: 1.25rem;
}

.ciao_intro {
    padding-left: 10%;
}

.my_info {
    display: flex;
    padding: 5%;
}

.my_photo img {
    display: flex;
    max-width: 100%;
    height: auto;
    border-radius: 10%;
    margin-top: 12%;
}

.position {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    text-align: center;
    vertical-align: middle;

}

.profile {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile h2 {
    font-size: 3.2rem;
    color: #f94343;
}

.profile p {
    font-size: 2.6rem;
}

.middle_cont {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-self: center;
    justify-self: center;
    width: 100%;
}

.Mudit-img {
    width: 300px;
    height: 300px;
    margin-top: 50px;
    border-radius: 100%;
}

.alias {
    position: relative;
    font-family: 'Nova Mono', monospace;
    font-size: 3.2rem;
}

.work {
    position: relative;
    font-family: 'Nova Mono', monospace;
    font-size: 2.6rem;
}


.anim-typewriter {
    animation: typewriter 4s steps(44) 1s 1 normal both,
        blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 24em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(249, 67, 67, 1);
    }

    to {
        border-right-color: transparent;
    }
}

/* .first_name {
    position: absolute;
    top: 20vh;
    left: 35vh;
    font-family: 'Bitter', serif;
    font-size: 7rem;
    color: #f94343;
    letter-spacing: 1rem;
    font-weight: none;
}

.last_name {
    position: absolute;
    top: 75vh;
    left: 95vh;
    font-family: 'Bitter', serif;
    font-size: 7rem;
    color: #f94343;
    letter-spacing: 1rem;
    font-weight: none;
} */

.ciao {
    margin-top: 15%;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-left: 26.5%;
    color: #f94343;
    font-family: 'Chivo Mono', monospace;
    font-size: 4rem;
}

.intro_p {
    padding-top: 3%;
    font-size: 1.5rem;

}

/* .intro_img {
    width: 25%;
    border-radius: 70%;
    float: left;
    margin-right: 30px;
} */

#skills {
    padding: 0% 10%;
}

.skills {
    margin-top: 10%;
}

.skill_title {
    font-family: 'Chivo Mono', monospace;
    font-weight: normal;
    color: #f94343;
    font-size: 5rem;
    text-align: center;
}

.skill-row {
    width: 100%;
    margin: 7% 2%;
    text-align: left;
    line-height: 2;
    display: flex;
    justify-content: center;
    align-items: center;

}

.skill-row h3 {
    font-size: 2.5rem;
}

.skill-row p {
    font-size: 1.5rem;
}


.Web-img {
    background-color: black;
    border-radius: 70%;
    width: 80%;
    float: left;
    margin-right: 15%;
    transition: transform .2s;
}

.Web-img:hover {
    transform: scale(1.3);
}

.cppdiv {
    transition: transform .2s;
}

.cppdiv:hover {
    transform: scale(1.3);

}

.cpp {
    transition: transform .7s ease-in-out;
}

.cpp:hover {
    transform: rotate(360deg);
}

.skill_img {
    display: flex;
    padding-top: 5%;
    vertical-align: middle;
    align-items: center;
    align-items: stretch;
}


.SQL-img {
    background-color: black;
    border-radius: 70%;
    width: 45%;
    float: left;
    margin-right: 15%;
}


/* ---------------Projects--------------- */
#project {
    margin-top: 7%;
}

.tindog {
    display: flex;
    flex-direction: row;
    margin: 120px 0px;

}

.empty_div {
    width: 25%;
}

.tindog_circle {
    color: #f94343;
    font-size: 110%;
}

.tindog_name {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-gap: 10px;
}

.tindog_first {
    margin-left: 14%;
    width: 35%;
}

.tindog_second {
    width: 75%;
    padding: 10%;
    font-size: 1.5rem;
}

.view_proj:hover {
    color: #f94343;
}

.tindog_first h1 {
    font-size: 3rem;
    ;
}


.tindog_img {
    grid-column: 2 span;
    max-width: 100%;
    height: auto;
    transition: transform .2s;

}

.tindog_img:hover {
    transform: scale(1.1);
}

/* .grid-container {
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  .item3{
      grid-column: 2 span;
  } */
.contact {
    display: flex;
    margin-top: 100px;
}

.contact_title {
    width: 20%;
    color: #fb3838;
    border-right-style: solid;
    border-right-color: #f45555;
    border-right-width: 10%;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
    text-align: right;
    padding-right: 20px;
}

.contact_title p {
    margin: 0;
}

.contact_info {
    width: 88%;
    border-left: #f94343;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
}

.contact_tag {
    color: #EEB76B;
    font-size: 2.5rem;
    padding-top: 0;
    margin-top: 0;
}

.contact_idea {
    font-size: 1.5rem;
}
.cnt2{
    text-align: center;


}
.btn {
    background: black;
    background-image: -webkit-linear-gradient(top, rgb(65, 63, 63), rgb(32, 31, 31));
    background-image: -moz-linear-gradient(top, rgb(65, 63, 63) rgb(32, 31, 31));
    background-image: -ms-linear-gradient(top, rgb(65, 63, 63) rgb(32, 31, 31));
    background-image: -o-linear-gradient(top, rgb(65, 63, 63) rgb(32, 31, 31));
    background-image: linear-gradient(to bottom, rgb(65, 63, 63) rgb(32, 31, 31));
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    text-shadow: 1px 1px 3px #666666;
    font-family: Georgia;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: grey;
    background-image: -webkit-linear-gradient(top, rgb(0, 0, 0), rgb(0, 0, 0));
    background-image: -ms-linear-gradient(top, rgb(0, 0, 0), rgb(0, 0, 0));
    background-image: -moz-linear-gradient(top, rgb(0, 0, 0), rgb(0, 0, 0));
    background-image: -o-linear-gradient(top, rgb(0, 0, 0), rgb(0, 0, 0));
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(0, 0, 0));
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#footer {
    position: relative;
    text-align: center;
    background-color: #f45555;
    padding: 2% 15%;
    width: 70vw;
    margin: 30px 0 0 0;
    top: 6px;
}

.sm-foot {
    margin: 10px 22px;
    transition: transform .2s;
}

.sm-foot:hover {
    transform: scale(1.5);
}

.foot a {
    text-decoration: none;
    color: #ffffff;
}


/*alias{
    display: flex;
    position: relative;
    top: 19%;
    left: 0%;
    font-family: 'Nova Mono', monospace;
    font-size: 2.7rem;
    padding-left: 16%;
    align-items: flex-end;
    flex-direction: column;
    margin-bottom: 5%;
}



.position {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    text-align: center;
}
.work {
    display: inline-block;
    position: relative;
    font-family: 'Nova Mono', monospace;
    font-size: 1.9rem;
}
    */
.alias {
    overflow: hidden;
    border-right: 0.15rem #f94343;
    width: 0;

}


@media only screen and (max-width: 912px) {

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.name{
    font-size: 2vh;
}
.nav{
    font-size: 1.6vh;
}

    .about_me {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .about_title {
        font-size: 4vh;
        width:40%;
        border-right: none;
        text-align: center;
        margin-bottom: 4vh;
        padding-right: 0;
    }

    .about_info {
        text-align: center;
        padding-left: 0;
    }
    .about_tag{
        font-size: 3.5vh;
    }
    .about_idea{
        font-size: 3vw;
    }

    .skill-row {
        flex-direction: column;
        text-align: center;

    }

    .skill-row p {
        font-size: 3.0vw;
    }

    .skill_img {
        width: 40%;
    }

    .SQL-img {
        width: 100%;
    }

    .tindog_first h1{
        font-size: 4vh;
    }
    .tindog_second p,a{
        font-size: 2vh;
    }

    .contact{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact_title{
        border-right: none;
        padding-top: 0;
    }
    .contact_title p{
        display:inline-block;
        font-size: 4.7vh;
    }
    .contact_info{
        align-items: center;
        text-align: center;
    }
    .contact_tag{
        font-size: 3vh;
    }
    .contact_idea{
        font-size: 2.4vh;
    }
    .profile h2{
        font-size: 7vh;
    }
    .profile p{
        font-size: 5vh;
    }
   .skill_title{
    font-size: 9vh;
    }

}